@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(user: Option[userauth.models.User])(implicit request: RequestHeader, assets: AssetsFinder,webJarsUtil: WebJarsUtil)


<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Draggable Directions</title>
        <link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">
        <link href="@assets.path("styles/maps1.css")" rel="stylesheet">
        @webJarsUtil.locate("bootstrap.min.css").css()
        @webJarsUtil.locate("bootstrap-theme.min.css").css()
        <link rel="stylesheet" href="@assets.path("styles/main.css")">
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        <style>
                #right-panel {
                    font-family: 'Roboto','sans-serif';
                    line-height: 30px;
                    padding-left: 10px;
                }

                #right-panel select, #right-panel input {
                    font-size: 15px;
                }

                #right-panel select {
                    width: 100%;
                }

                #right-panel i {
                    font-size: 12px;
                }
                html, body {
                    height: 100%;
                    margin: 0;
                    padding: 0;
                }
                #map {
                    height: 100%;
                    float: left;
                    width: 63%;
                    height: 100%;
                }
                #right-panel {
                    float: right;
                    width: 34%;
                    height: 100%;
                }
                .panel {
                    height: 100%;
                    overflow: auto;
                }
        </style>
    </head>
    <body>
        <div id="map"></div>
        <div id="right-panel">
            <p>Total Distance: <span id="total"></span></p>
        </div>
        <script>

                // This example adds a UI control allowing users to remove the polyline from the
                // map.

                var flightPath;
                var map;

                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 3,
                        center: {lat: 0, lng: -180},
                        mapTypeId: 'terrain'
                    });

                    var pathCoordinates = [
                        {
                            "lat": 12.860240000000001,
                            "lng": 77.52123
                        },
                        {
                            "lat": 12.86086,
                            "lng": 77.51976
                        },
                        {
                            "lat": 12.861690000000001,
                            "lng": 77.51781000000001
                        },
                        {
                            "lat": 12.862430000000002,
                            "lng": 77.51607000000001
                        },
                        {
                            "lat": 12.86425,
                            "lng": 77.51138
                        },
                        {
                            "lat": 12.864600000000001,
                            "lng": 77.51058
                        },
                        {
                            "lat": 12.864920000000001,
                            "lng": 77.50994
                        },
                        {
                            "lat": 12.865430000000002,
                            "lng": 77.50905
                        },
                        {
                            "lat": 12.868170000000001,
                            "lng": 77.50500000000001
                        },
                        {
                            "lat": 12.872510000000002,
                            "lng": 77.49860000000001
                        },
                        {
                            "lat": 12.872900000000001,
                            "lng": 77.49808
                        },
                        {
                            "lat": 12.873320000000001,
                            "lng": 77.49762000000001
                        },
                        {
                            "lat": 12.87382,
                            "lng": 77.4972
                        },
                        {
                            "lat": 12.874270000000001,
                            "lng": 77.49689000000001
                        },
                        {
                            "lat": 12.874640000000001,
                            "lng": 77.49668000000001
                        },
                        {
                            "lat": 12.87588,
                            "lng": 77.49615
                        },
                        {
                            "lat": 12.87784,
                            "lng": 77.49533000000001
                        },
                        {
                            "lat": 12.879000000000001,
                            "lng": 77.49479000000001
                        },
                        {
                            "lat": 12.879280000000001,
                            "lng": 77.49463
                        },
                        {
                            "lat": 12.879430000000001,
                            "lng": 77.49444000000001
                        },
                        {
                            "lat": 12.879520000000001,
                            "lng": 77.49427
                        },
                        {
                            "lat": 12.87954,
                            "lng": 77.49414
                        },
                        {
                            "lat": 12.879480000000001,
                            "lng": 77.49388
                        },
                        {
                            "lat": 12.879410000000002,
                            "lng": 77.49379
                        },
                        {
                            "lat": 12.879190000000001,
                            "lng": 77.4936
                        },
                        {
                            "lat": 12.878820000000001,
                            "lng": 77.49342
                        },
                        {
                            "lat": 12.878540000000001,
                            "lng": 77.49335
                        },
                        {
                            "lat": 12.87841,
                            "lng": 77.49334
                        },
                        {
                            "lat": 12.878250000000001,
                            "lng": 77.49340000000001
                        },
                        {
                            "lat": 12.878110000000001,
                            "lng": 77.49353
                        },
                        {
                            "lat": 12.87804,
                            "lng": 77.49368000000001
                        },
                        {
                            "lat": 12.87803,
                            "lng": 77.49386000000001
                        },
                        {
                            "lat": 12.87817,
                            "lng": 77.49417000000001
                        },
                        {
                            "lat": 12.87967,
                            "lng": 77.49561000000001
                        },
                        {
                            "lat": 12.879930000000002,
                            "lng": 77.49567
                        },
                        {
                            "lat": 12.88006,
                            "lng": 77.49567
                        },
                        {
                            "lat": 12.880310000000001,
                            "lng": 77.49558
                        },
                        {
                            "lat": 12.88047,
                            "lng": 77.49544
                        },
                        {
                            "lat": 12.880550000000001,
                            "lng": 77.49529000000001
                        },
                        {
                            "lat": 12.88057,
                            "lng": 77.49518
                        },
                        {
                            "lat": 12.880560000000001,
                            "lng": 77.49498000000001
                        },
                        {
                            "lat": 12.88047,
                            "lng": 77.49481
                        },
                        {
                            "lat": 12.880300000000002,
                            "lng": 77.49463
                        },
                        {
                            "lat": 12.88011,
                            "lng": 77.49456
                        },
                        {
                            "lat": 12.879890000000001,
                            "lng": 77.49456
                        },
                        {
                            "lat": 12.87981,
                            "lng": 77.49458000000001
                        },
                        {
                            "lat": 12.879620000000001,
                            "lng": 77.49471000000001
                        },
                        {
                            "lat": 12.87953,
                            "lng": 77.49473
                        },
                        {
                            "lat": 12.879270000000002,
                            "lng": 77.49487
                        },
                        {
                            "lat": 12.87859,
                            "lng": 77.49521
                        },
                        {
                            "lat": 12.87489,
                            "lng": 77.49678
                        },
                        {
                            "lat": 12.87415,
                            "lng": 77.49718
                        },
                        {
                            "lat": 12.87376,
                            "lng": 77.49748000000001
                        },
                        {
                            "lat": 12.873180000000001,
                            "lng": 77.49803
                        },
                        {
                            "lat": 12.872560000000002,
                            "lng": 77.49884
                        },
                        {
                            "lat": 12.865950000000002,
                            "lng": 77.50857
                        },
                        {
                            "lat": 12.865190000000002,
                            "lng": 77.50980000000001
                        },
                        {
                            "lat": 12.864630000000002,
                            "lng": 77.51095000000001
                        },
                        {
                            "lat": 12.863460000000002,
                            "lng": 77.51388
                        },
                        {
                            "lat": 12.862610000000002,
                            "lng": 77.51607000000001
                        },
                        {
                            "lat": 12.861390000000002,
                            "lng": 77.51896
                        },
                        {
                            "lat": 12.860130000000002,
                            "lng": 77.52201000000001
                        },
                        {
                            "lat": 12.859910000000001,
                            "lng": 77.52254
                        },
                        {
                            "lat": 12.859290000000001,
                            "lng": 77.52395
                        },
                        {
                            "lat": 12.858620000000002,
                            "lng": 77.52562
                        },
                        {
                            "lat": 12.858070000000001,
                            "lng": 77.52714
                        },
                        {
                            "lat": 12.857040000000001,
                            "lng": 77.53031
                        },
                        {
                            "lat": 12.856950000000001,
                            "lng": 77.53068
                        },
                        {
                            "lat": 12.85641,
                            "lng": 77.53245000000001
                        },
                        {
                            "lat": 12.85617,
                            "lng": 77.53332
                        },
                        {
                            "lat": 12.855200000000002,
                            "lng": 77.53632
                        },
                        {
                            "lat": 12.854270000000001,
                            "lng": 77.53932
                        },
                        {
                            "lat": 12.853110000000001,
                            "lng": 77.54355000000001
                        },
                        {
                            "lat": 12.852570000000002,
                            "lng": 77.54537
                        },
                        {
                            "lat": 12.85213,
                            "lng": 77.54705000000001
                        },
                        {
                            "lat": 12.85186,
                            "lng": 77.54803000000001
                        },
                        {
                            "lat": 12.851700000000001,
                            "lng": 77.54886
                        },
                        {
                            "lat": 12.85143,
                            "lng": 77.55035000000001
                        },
                        {
                            "lat": 12.851,
                            "lng": 77.55331000000001
                        },
                        {
                            "lat": 12.85086,
                            "lng": 77.55415
                        },
                        {
                            "lat": 12.850650000000002,
                            "lng": 77.55492000000001
                        },
                        {
                            "lat": 12.85026,
                            "lng": 77.55619
                        },
                        {
                            "lat": 12.849810000000002,
                            "lng": 77.55746
                        },
                        {
                            "lat": 12.84941,
                            "lng": 77.55863000000001
                        },
                        {
                            "lat": 12.848970000000001,
                            "lng": 77.56013
                        },
                        {
                            "lat": 12.848600000000001,
                            "lng": 77.56203000000001
                        },
                        {
                            "lat": 12.848320000000001,
                            "lng": 77.56364
                        },
                        {
                            "lat": 12.8482,
                            "lng": 77.56488
                        },
                        {
                            "lat": 12.84814,
                            "lng": 77.56637
                        },
                        {
                            "lat": 12.848160000000002,
                            "lng": 77.56807
                        },
                        {
                            "lat": 12.84825,
                            "lng": 77.56939000000001
                        },
                        {
                            "lat": 12.84848,
                            "lng": 77.57103000000001
                        },
                        {
                            "lat": 12.84875,
                            "lng": 77.57236
                        },
                        {
                            "lat": 12.849160000000001,
                            "lng": 77.57391000000001
                        },
                        {
                            "lat": 12.85031,
                            "lng": 77.57746
                        },
                        {
                            "lat": 12.850550000000002,
                            "lng": 77.57844
                        },
                        {
                            "lat": 12.85064,
                            "lng": 77.57905000000001
                        },
                        {
                            "lat": 12.85068,
                            "lng": 77.57962
                        },
                        {
                            "lat": 12.850670000000001,
                            "lng": 77.58055
                        },
                        {
                            "lat": 12.85063,
                            "lng": 77.58132
                        },
                        {
                            "lat": 12.850460000000002,
                            "lng": 77.58352000000001
                        },
                        {
                            "lat": 12.85035,
                            "lng": 77.58487000000001
                        },
                        {
                            "lat": 12.850190000000001,
                            "lng": 77.58731
                        },
                        {
                            "lat": 12.850130000000002,
                            "lng": 77.58822
                        },
                        {
                            "lat": 12.85012,
                            "lng": 77.58875
                        },
                        {
                            "lat": 12.850150000000001,
                            "lng": 77.58954
                        },
                        {
                            "lat": 12.8503,
                            "lng": 77.59028
                        },
                        {
                            "lat": 12.8504,
                            "lng": 77.59051000000001
                        },
                        {
                            "lat": 12.85063,
                            "lng": 77.59104
                        },
                        {
                            "lat": 12.851040000000001,
                            "lng": 77.59169
                        },
                        {
                            "lat": 12.85162,
                            "lng": 77.59235000000001
                        },
                        {
                            "lat": 12.85232,
                            "lng": 77.59309
                        },
                        {
                            "lat": 12.852710000000002,
                            "lng": 77.59362
                        },
                        {
                            "lat": 12.853010000000001,
                            "lng": 77.59414000000001
                        },
                        {
                            "lat": 12.853290000000001,
                            "lng": 77.59484
                        },
                        {
                            "lat": 12.853430000000001,
                            "lng": 77.59551
                        },
                        {
                            "lat": 12.853530000000001,
                            "lng": 77.59702
                        },
                        {
                            "lat": 12.85368,
                            "lng": 77.60129
                        },
                        {
                            "lat": 12.853750000000002,
                            "lng": 77.60295
                        },
                        {
                            "lat": 12.853840000000002,
                            "lng": 77.60433
                        },
                        {
                            "lat": 12.853940000000001,
                            "lng": 77.60498000000001
                        },
                        {
                            "lat": 12.854070000000002,
                            "lng": 77.60556000000001
                        },
                        {
                            "lat": 12.854540000000002,
                            "lng": 77.60727
                        },
                        {
                            "lat": 12.854650000000001,
                            "lng": 77.60780000000001
                        },
                        {
                            "lat": 12.854870000000002,
                            "lng": 77.60921
                        },
                        {
                            "lat": 12.855060000000002,
                            "lng": 77.61036
                        },
                        {
                            "lat": 12.85519,
                            "lng": 77.61094
                        },
                        {
                            "lat": 12.855500000000001,
                            "lng": 77.61205000000001
                        },
                        {
                            "lat": 12.855910000000002,
                            "lng": 77.61314
                        },
                        {
                            "lat": 12.85627,
                            "lng": 77.61394
                        },
                        {
                            "lat": 12.856710000000001,
                            "lng": 77.61477000000001
                        },
                        {
                            "lat": 12.857330000000001,
                            "lng": 77.61576000000001
                        },
                        {
                            "lat": 12.858030000000001,
                            "lng": 77.61672
                        },
                        {
                            "lat": 12.859580000000001,
                            "lng": 77.61867000000001
                        },
                        {
                            "lat": 12.860700000000001,
                            "lng": 77.62009
                        },
                        {
                            "lat": 12.861320000000001,
                            "lng": 77.62093
                        },
                        {
                            "lat": 12.862820000000001,
                            "lng": 77.62327
                        },
                        {
                            "lat": 12.8649,
                            "lng": 77.62662
                        },
                        {
                            "lat": 12.86537,
                            "lng": 77.62752
                        },
                        {
                            "lat": 12.86575,
                            "lng": 77.62833
                        },
                        {
                            "lat": 12.866040000000002,
                            "lng": 77.62906000000001
                        },
                        {
                            "lat": 12.866340000000001,
                            "lng": 77.62994
                        },
                        {
                            "lat": 12.86668,
                            "lng": 77.63129
                        },
                        {
                            "lat": 12.866880000000002,
                            "lng": 77.63253
                        },
                        {
                            "lat": 12.86697,
                            "lng": 77.63345000000001
                        },
                        {
                            "lat": 12.866990000000001,
                            "lng": 77.6344
                        },
                        {
                            "lat": 12.866950000000001,
                            "lng": 77.63567
                        },
                        {
                            "lat": 12.86682,
                            "lng": 77.63692
                        },
                        {
                            "lat": 12.866560000000002,
                            "lng": 77.63848
                        },
                        {
                            "lat": 12.86625,
                            "lng": 77.63977000000001
                        },
                        {
                            "lat": 12.865960000000001,
                            "lng": 77.64079000000001
                        },
                        {
                            "lat": 12.86565,
                            "lng": 77.64173000000001
                        },
                        {
                            "lat": 12.86513,
                            "lng": 77.64304000000001
                        },
                        {
                            "lat": 12.86471,
                            "lng": 77.64395
                        },
                        {
                            "lat": 12.86317,
                            "lng": 77.64698000000001
                        },
                        {
                            "lat": 12.862390000000001,
                            "lng": 77.64849000000001
                        },
                        {
                            "lat": 12.86162,
                            "lng": 77.65004
                        },
                        {
                            "lat": 12.859620000000001,
                            "lng": 77.65442
                        },
                        {
                            "lat": 12.859480000000001,
                            "lng": 77.65504
                        },
                        {
                            "lat": 12.85936,
                            "lng": 77.65594
                        },
                        {
                            "lat": 12.859140000000002,
                            "lng": 77.65668000000001
                        },
                        {
                            "lat": 12.85899,
                            "lng": 77.65704000000001
                        },
                        {
                            "lat": 12.858740000000001,
                            "lng": 77.65749000000001
                        },
                        {
                            "lat": 12.85843,
                            "lng": 77.65795
                        },
                        {
                            "lat": 12.85809,
                            "lng": 77.65933000000001
                        },
                        {
                            "lat": 12.857990000000001,
                            "lng": 77.65983
                        },
                        {
                            "lat": 12.858,
                            "lng": 77.65996000000001
                        },
                        {
                            "lat": 12.858020000000002,
                            "lng": 77.66024
                        },
                        {
                            "lat": 12.858110000000002,
                            "lng": 77.66057
                        },
                        {
                            "lat": 12.858310000000001,
                            "lng": 77.66086
                        },
                        {
                            "lat": 12.85856,
                            "lng": 77.66106
                        },
                        {
                            "lat": 12.858910000000002,
                            "lng": 77.66119
                        },
                        {
                            "lat": 12.859250000000001,
                            "lng": 77.66122
                        },
                        {
                            "lat": 12.85951,
                            "lng": 77.66116000000001
                        },
                        {
                            "lat": 12.859860000000001,
                            "lng": 77.66098000000001
                        },
                        {
                            "lat": 12.85992,
                            "lng": 77.66099000000001
                        },
                        {
                            "lat": 12.859950000000001,
                            "lng": 77.66101
                        },
                        {
                            "lat": 12.860000000000001,
                            "lng": 77.66104
                        },
                        {
                            "lat": 12.860170000000002,
                            "lng": 77.66090000000001
                        },
                        {
                            "lat": 12.86251,
                            "lng": 77.65898
                        },
                        {
                            "lat": 12.86349,
                            "lng": 77.65820000000001
                        },
                        {
                            "lat": 12.864040000000001,
                            "lng": 77.65779
                        },
                        {
                            "lat": 12.866140000000001,
                            "lng": 77.65616
                        },
                        {
                            "lat": 12.87011,
                            "lng": 77.65304
                        },
                        {
                            "lat": 12.8732,
                            "lng": 77.65057
                        },
                        {
                            "lat": 12.87616,
                            "lng": 77.64793
                        },
                        {
                            "lat": 12.87687,
                            "lng": 77.64739
                        },
                        {
                            "lat": 12.87743,
                            "lng": 77.647
                        },
                        {
                            "lat": 12.880360000000001,
                            "lng": 77.6452
                        },
                        {
                            "lat": 12.88893,
                            "lng": 77.63994000000001
                        },
                        {
                            "lat": 12.890970000000001,
                            "lng": 77.63865000000001
                        },
                        {
                            "lat": 12.89211,
                            "lng": 77.63799
                        },
                        {
                            "lat": 12.89384,
                            "lng": 77.63692
                        },
                        {
                            "lat": 12.896690000000001,
                            "lng": 77.63516000000001
                        },
                        {
                            "lat": 12.90113,
                            "lng": 77.63241000000001
                        },
                        {
                            "lat": 12.906550000000001,
                            "lng": 77.62910000000001
                        },
                        {
                            "lat": 12.907020000000001,
                            "lng": 77.62881
                        },
                        {
                            "lat": 12.90699,
                            "lng": 77.62876
                        },
                        {
                            "lat": 12.906970000000001,
                            "lng": 77.62874000000001
                        },
                        {
                            "lat": 12.90704,
                            "lng": 77.62868
                        },
                        {
                            "lat": 12.907140000000002,
                            "lng": 77.62864
                        },
                        {
                            "lat": 12.907580000000001,
                            "lng": 77.62836
                        },
                        {
                            "lat": 12.911230000000002,
                            "lng": 77.62611000000001
                        },
                        {
                            "lat": 12.91167,
                            "lng": 77.62578
                        },
                        {
                            "lat": 12.911980000000002,
                            "lng": 77.62565000000001
                        },
                        {
                            "lat": 12.912980000000001,
                            "lng": 77.6251
                        },
                        {
                            "lat": 12.9129,
                            "lng": 77.62493
                        },
                        {
                            "lat": 12.912830000000001,
                            "lng": 77.62463000000001
                        },
                        {
                            "lat": 12.912820000000002,
                            "lng": 77.62456
                        },
                        {
                            "lat": 12.912020000000002,
                            "lng": 77.62437000000001
                        },
                        {
                            "lat": 12.911950000000001,
                            "lng": 77.6247
                        },
                        {
                            "lat": 12.91201,
                            "lng": 77.62472000000001
                        },
                        {
                            "lat": 12.912020000000002,
                            "lng": 77.62472000000001
                        },
                        {
                            "lat": 12.912030000000001,
                            "lng": 77.62472000000001
                        },
                        {
                            "lat": 12.912020000000002,
                            "lng": 77.62488
                        },
                        {
                            "lat": 12.91201,
                            "lng": 77.62489000000001
                        },
                        {
                            "lat": 12.91178,
                            "lng": 77.62489000000001
                        },
                        {
                            "lat": 12.911740000000002,
                            "lng": 77.62490000000001
                        },
                        {
                            "lat": 12.911740000000002,
                            "lng": 77.62496
                        },
                        {
                            "lat": 12.91173,
                            "lng": 77.6252
                        },
                        {
                            "lat": 12.911700000000002,
                            "lng": 77.62523
                        },
                        {
                            "lat": 12.911050000000001,
                            "lng": 77.62528
                        },
                        {
                            "lat": 12.91089,
                            "lng": 77.62528
                        },
                        {
                            "lat": 12.91093,
                            "lng": 77.62587
                        },
                        {
                            "lat": 12.91098,
                            "lng": 77.62586
                        },
                        {
                            "lat": 12.911100000000001,
                            "lng": 77.62583000000001
                        },
                        {
                            "lat": 12.91106,
                            "lng": 77.62528
                        },
                        {
                            "lat": 12.911700000000002,
                            "lng": 77.62523
                        },
                        {
                            "lat": 12.91173,
                            "lng": 77.62522000000001
                        },
                        {
                            "lat": 12.91173,
                            "lng": 77.6251
                        },
                        {
                            "lat": 12.911760000000001,
                            "lng": 77.62489000000001
                        },
                        {
                            "lat": 12.912020000000002,
                            "lng": 77.62488
                        },
                        {
                            "lat": 12.912020000000002,
                            "lng": 77.62472000000001
                        },
                        {
                            "lat": 12.911950000000001,
                            "lng": 77.6247
                        },
                        {
                            "lat": 12.912020000000002,
                            "lng": 77.62437000000001
                        },
                        {
                            "lat": 12.912820000000002,
                            "lng": 77.62456
                        },
                        {
                            "lat": 12.912840000000001,
                            "lng": 77.62466
                        },
                        {
                            "lat": 12.912870000000002,
                            "lng": 77.62479
                        },
                        {
                            "lat": 12.912930000000001,
                            "lng": 77.625
                        },
                        {
                            "lat": 12.912980000000001,
                            "lng": 77.6251
                        },
                        {
                            "lat": 12.91351,
                            "lng": 77.62476000000001
                        },
                        {
                            "lat": 12.914280000000002,
                            "lng": 77.6243
                        },
                        {
                            "lat": 12.91459,
                            "lng": 77.6242
                        },
                        {
                            "lat": 12.914850000000001,
                            "lng": 77.62396000000001
                        },
                        {
                            "lat": 12.91591,
                            "lng": 77.62336
                        },
                        {
                            "lat": 12.91675,
                            "lng": 77.6229
                        },
                        {
                            "lat": 12.916910000000001,
                            "lng": 77.62282
                        },
                        {
                            "lat": 12.916960000000001,
                            "lng": 77.62283000000001
                        },
                        {
                            "lat": 12.917100000000001,
                            "lng": 77.62287
                        },
                        {
                            "lat": 12.917250000000001,
                            "lng": 77.62287
                        },
                        {
                            "lat": 12.91735,
                            "lng": 77.62280000000001
                        },
                        {
                            "lat": 12.917370000000002,
                            "lng": 77.62286
                        },
                        {
                            "lat": 12.91745,
                            "lng": 77.62312
                        },
                        {
                            "lat": 12.91768,
                            "lng": 77.62442
                        },
                        {
                            "lat": 12.917710000000001,
                            "lng": 77.62483
                        },
                        {
                            "lat": 12.917700000000002,
                            "lng": 77.62554
                        },
                        {
                            "lat": 12.91764,
                            "lng": 77.62584000000001
                        },
                        {
                            "lat": 12.917370000000002,
                            "lng": 77.62676
                        },
                        {
                            "lat": 12.916910000000001,
                            "lng": 77.62849
                        },
                        {
                            "lat": 12.916850000000002,
                            "lng": 77.62884000000001
                        },
                        {
                            "lat": 12.9167,
                            "lng": 77.63084
                        },
                        {
                            "lat": 12.916540000000001,
                            "lng": 77.6328
                        },
                        {
                            "lat": 12.91628,
                            "lng": 77.63586000000001
                        },
                        {
                            "lat": 12.916070000000001,
                            "lng": 77.63747000000001
                        },
                        {
                            "lat": 12.916020000000001,
                            "lng": 77.63803
                        },
                        {
                            "lat": 12.91609,
                            "lng": 77.63862
                        },
                        {
                            "lat": 12.91642,
                            "lng": 77.63955
                        },
                        {
                            "lat": 12.916630000000001,
                            "lng": 77.63993
                        },
                        {
                            "lat": 12.91731,
                            "lng": 77.64078
                        },
                        {
                            "lat": 12.91759,
                            "lng": 77.64111000000001
                        },
                        {
                            "lat": 12.918270000000001,
                            "lng": 77.64176
                        },
                        {
                            "lat": 12.919910000000002,
                            "lng": 77.64303000000001
                        },
                        {
                            "lat": 12.921840000000001,
                            "lng": 77.64464000000001
                        },
                        {
                            "lat": 12.923430000000002,
                            "lng": 77.64638000000001
                        },
                        {
                            "lat": 12.9237,
                            "lng": 77.64674000000001
                        },
                        {
                            "lat": 12.924080000000002,
                            "lng": 77.64739
                        },
                        {
                            "lat": 12.924230000000001,
                            "lng": 77.64768000000001
                        },
                        {
                            "lat": 12.92434,
                            "lng": 77.64802
                        },
                        {
                            "lat": 12.924420000000001,
                            "lng": 77.64849000000001
                        },
                        {
                            "lat": 12.924520000000001,
                            "lng": 77.64977
                        },
                        {
                            "lat": 12.924520000000001,
                            "lng": 77.65061
                        },
                        {
                            "lat": 12.924380000000001,
                            "lng": 77.65155
                        },
                        {
                            "lat": 12.92392,
                            "lng": 77.6538
                        },
                        {
                            "lat": 12.923810000000001,
                            "lng": 77.65427000000001
                        },
                        {
                            "lat": 12.92365,
                            "lng": 77.65497
                        },
                        {
                            "lat": 12.92355,
                            "lng": 77.65533
                        },
                        {
                            "lat": 12.923350000000001,
                            "lng": 77.65615000000001
                        },
                        {
                            "lat": 12.922860000000002,
                            "lng": 77.65748
                        },
                        {
                            "lat": 12.92251,
                            "lng": 77.65845
                        },
                        {
                            "lat": 12.922,
                            "lng": 77.65997
                        },
                        {
                            "lat": 12.921790000000001,
                            "lng": 77.66073
                        },
                        {
                            "lat": 12.921450000000002,
                            "lng": 77.66223000000001
                        },
                        {
                            "lat": 12.921270000000002,
                            "lng": 77.66283
                        },
                        {
                            "lat": 12.920860000000001,
                            "lng": 77.66429000000001
                        },
                        {
                            "lat": 12.92079,
                            "lng": 77.66455
                        },
                        {
                            "lat": 12.920750000000002,
                            "lng": 77.66494
                        },
                        {
                            "lat": 12.920760000000001,
                            "lng": 77.66511000000001
                        },
                        {
                            "lat": 12.92092,
                            "lng": 77.66556
                        },
                        {
                            "lat": 12.92116,
                            "lng": 77.66596000000001
                        },
                        {
                            "lat": 12.921330000000001,
                            "lng": 77.66642
                        },
                        {
                            "lat": 12.92195,
                            "lng": 77.66783000000001
                        },
                        {
                            "lat": 12.92406,
                            "lng": 77.67225
                        },
                        {
                            "lat": 12.924790000000002,
                            "lng": 77.67402000000001
                        },
                        {
                            "lat": 12.925070000000002,
                            "lng": 77.67457
                        },
                        {
                            "lat": 12.925770000000002,
                            "lng": 77.67591
                        },
                        {
                            "lat": 12.92594,
                            "lng": 77.67625000000001
                        },
                        {
                            "lat": 12.927570000000001,
                            "lng": 77.67973
                        },
                        {
                            "lat": 12.928370000000001,
                            "lng": 77.68147
                        },
                        {
                            "lat": 12.92919,
                            "lng": 77.68307
                        },
                        {
                            "lat": 12.929770000000001,
                            "lng": 77.68425
                        },
                        {
                            "lat": 12.93012,
                            "lng": 77.68490000000001
                        },
                        {
                            "lat": 12.930420000000002,
                            "lng": 77.68533000000001
                        },
                        {
                            "lat": 12.9312,
                            "lng": 77.68629
                        },
                        {
                            "lat": 12.932690000000001,
                            "lng": 77.68804
                        },
                        {
                            "lat": 12.934870000000002,
                            "lng": 77.69043
                        },
                        {
                            "lat": 12.935960000000001,
                            "lng": 77.69158
                        },
                        {
                            "lat": 12.93762,
                            "lng": 77.69334
                        },
                        {
                            "lat": 12.93875,
                            "lng": 77.69453
                        },
                        {
                            "lat": 12.939150000000001,
                            "lng": 77.69485
                        },
                        {
                            "lat": 12.940130000000002,
                            "lng": 77.69552
                        },
                        {
                            "lat": 12.941500000000001,
                            "lng": 77.69638
                        },
                        {
                            "lat": 12.94275,
                            "lng": 77.69712000000001
                        },
                        {
                            "lat": 12.943200000000001,
                            "lng": 77.69734000000001
                        },
                        {
                            "lat": 12.947890000000001,
                            "lng": 77.69897
                        },
                        {
                            "lat": 12.948080000000001,
                            "lng": 77.69904000000001
                        },
                        {
                            "lat": 12.948710000000002,
                            "lng": 77.69919
                        },
                        {
                            "lat": 12.94992,
                            "lng": 77.69943
                        },
                        {
                            "lat": 12.951830000000001,
                            "lng": 77.69981
                        },
                        {
                            "lat": 12.955280000000002,
                            "lng": 77.70064
                        },
                        {
                            "lat": 12.956740000000002,
                            "lng": 77.70108
                        },
                        {
                            "lat": 12.957170000000001,
                            "lng": 77.70114000000001
                        },
                        {
                            "lat": 12.95776,
                            "lng": 77.70117
                        },
                        {
                            "lat": 12.95935,
                            "lng": 77.70119000000001
                        },
                        {
                            "lat": 12.961380000000002,
                            "lng": 77.70150000000001
                        },
                        {
                            "lat": 12.96512,
                            "lng": 77.70205
                        },
                        {
                            "lat": 12.96644,
                            "lng": 77.70212000000001
                        },
                        {
                            "lat": 12.967110000000002,
                            "lng": 77.70201
                        },
                        {
                            "lat": 12.967780000000001,
                            "lng": 77.70174
                        },
                        {
                            "lat": 12.96808,
                            "lng": 77.70160000000001
                        },
                        {
                            "lat": 12.9693,
                            "lng": 77.70084
                        },
                        {
                            "lat": 12.973,
                            "lng": 77.69862
                        },
                        {
                            "lat": 12.974820000000001,
                            "lng": 77.69751000000001
                        },
                        {
                            "lat": 12.97521,
                            "lng": 77.69729000000001
                        },
                        {
                            "lat": 12.975600000000002,
                            "lng": 77.69701
                        },
                        {
                            "lat": 12.97601,
                            "lng": 77.69675000000001
                        },
                        {
                            "lat": 12.977250000000002,
                            "lng": 77.69596
                        },
                        {
                            "lat": 12.978840000000002,
                            "lng": 77.69497000000001
                        },
                        {
                            "lat": 12.981190000000002,
                            "lng": 77.6936
                        },
                        {
                            "lat": 12.986210000000002,
                            "lng": 77.69054000000001
                        },
                        {
                            "lat": 12.989690000000001,
                            "lng": 77.68842000000001
                        },
                        {
                            "lat": 12.990990000000002,
                            "lng": 77.68747
                        },
                        {
                            "lat": 12.992550000000001,
                            "lng": 77.68628000000001
                        },
                        {
                            "lat": 12.993210000000001,
                            "lng": 77.68582
                        },
                        {
                            "lat": 12.993150000000002,
                            "lng": 77.68574000000001
                        },
                        {
                            "lat": 12.994100000000001,
                            "lng": 77.6851
                        },
                        {
                            "lat": 12.99412,
                            "lng": 77.68508000000001
                        },
                        {
                            "lat": 12.99468,
                            "lng": 77.68466000000001
                        },
                        {
                            "lat": 12.99524,
                            "lng": 77.68426000000001
                        },
                        {
                            "lat": 12.995190000000001,
                            "lng": 77.68418000000001
                        }
                    ];

                    flightPath = new google.maps.Polyline({
                        path: pathCoordinates,
                        strokeColor: '#FF0000',
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                    });

                    addLine();
                }

                function addLine() {
                    flightPath.setMap(map);
                }

                function removeLine() {
                    flightPath.setMap(null);
                }

        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBonANoJOK8nRXijh15Vng1x8KaHM1R5PM&callback=initMap">
        </script>
        @webJarsUtil.locate("jquery.min.js").script()
        @webJarsUtil.locate("bootstrap.min.js").script()
    </body>
</html>
