@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder


@(user:userauth.models.User, orgList: List[organization.models.Organization])(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@views.html.main(messages("home.title"), Some(user)) {
    <div class="user col-md-6 col-md-offset-3">
        <div class="row data">
            <div class="col-md-12">
                <div class="row">
                    @for(org <- orgList) {
                        <a href='@organization.controllers.routes.OrganizationController.find(org.id)' class="col-md-6"><strong>@org.name</strong></a>
                    }
                </div>
            </div>
        </div>
    </div>
}
