@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import vehicle.models.Vehicle

@(user:userauth.models.User, vehicle: Vehicle)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@views.html.main(messages("home.title"), Some(user)) {
    <div class="user col-md-6 col-md-offset-3">
        <div class="row data">
            <div class="col-md-12">
                <div class="row">
                    <p class="col-md-6"><strong>vehicle name : </strong></p><p class="col-md-6">@vehicle.name</p>
                </div>
            </div>
        </div>
    </div>
}
